/* StatusBar.css */
.statusBar {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* macOS字体 */
  color: #333; /* 字体颜色 */
  font-size: 12px;
  height: 40px;
}

.status-bar-item {
  display: flex;
  align-items: center;
  margin: 0 10px; /* 项目间距 */
}

.commonMenu {
  backdrop-filter: blur(10px); /* 模糊效果 */
  background: #f4f4f9;
  background: rgba(255, 255, 255, 0.5); /* 透明背景 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* 底边线条 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  border-radius: 50px; /* 圆角 */
  display: flex;
  padding: 4px 10px;
  align-items: center;
}

.appContextMenu {
  @extend .commonMenu;
  cursor: pointer;
}

.appStatusMenu {
  @extend .commonMenu;
}

.appContextMenuItem {
  color: #fff;
  padding: 0px 11px;
}

.appContextMenuName {
  color: #fff;
  padding: 0px 11px;
  font-weight: bolder;
}

.appStatusLogo {
  margin: 0 5px;
  font-size: 0;
}