$app-primary-color: #5ABC6A;
$app-secondary-color: #334468;
$app-help-color: rgba(34, 34, 34, 0.4);
$app-white-theme-sidebar-background-color: #dbdff0;

$app-width: 600px;
$app-height: 950px;

$app-sidebar-width: 65px;