// src/assets/styles/variables.scss
// 无需文件内引入
$primary-color: #5b3cc4; // 你的主题颜色
$secondary-color: #f4f4f9; // 辅助颜色
// 其他全局变量

$font-size-base: 14px; // 主字号
$font-size-lg: $font-size-base + 2px; // 大号字
$font-size-sm: $font-size-base - 2px; // 小号字
$font-size-title: 20px; // 标题字号